@charset "UTF-8";

@media (min-width: 320px) and (max-width: 359px) {

    html,body{
        background: url('../imagem/Captura\ de\ tela\ 2025-01-08\ 110658.png');
        background-attachment: fixed;
        background-repeat: repeat;
    }

    h2{
        margin-top: 8vh;
        font-size: 1.5em;
    }

    h3{
        margin-bottom: 0px;
        font-size: 1em;
    }

    form > input[type=submit] {
        height: max-content;
    }

    .esqueci {
        height: max-content;
    }

    .cadastrase{
        background-color: white;
        height: max-content;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .cadastrase{
        width: 500px;
        height: 600px;
    }

    h2{
        font-size: 2em;
    }

    h3{
        font-size: 1.5em;
    }

    .campo{
        margin-bottom: 15px;
    }

    .material-symbols-outlined{
        font-size: 2.5em;
    }

    input::placeholder{
        font-size: 25px;
    }

    form > input[type=submit] {
        width: 300px;
        height: max-content;
        margin-bottom: 20px;
        margin-top: 20px;
        font-size: 1.5em;
    }

    .esqueci{
        width: 300px;
        height: max-content;
        margin-bottom: 20px;
        margin-top: 20px;
        font-size: 1.5em;
    }
}

@media (min-width: 1025px) and (max-width: 1920px) {
    .cadastrase{
        width: 500px;
        height: 600px;
    }

    h2{
        font-size: 2em;
    }

    h3{
        font-size: 1.5em;
    }

    .campo{
        margin-bottom: 15px;
    }

    .material-symbols-outlined{
        font-size: 2.5em;
    }

    input::placeholder{
        font-size: 25px;
    }

    form > input[type=submit] {
        width: 300px;
        height: max-content;
        margin-bottom: 20px;
        margin-top: 20px;
        font-size: 1.5em;
    }

    .esqueci{
        width: 300px;
        height: max-content;
        margin-bottom: 20px;
        margin-top: 20px;
        font-size: 1.5em;
    }
}

@media (min-width: 1921px) {
    .cadastrase{
        width: 500px;
        height: 600px;
    }

    h2{
        font-size: 2em;
    }

    h3{
        font-size: 1.5em;
    }

    .campo{
        margin-bottom: 15px;
    }

    .material-symbols-outlined{
        font-size: 2.5em;
    }

    input::placeholder{
        font-size: 25px;
    }

    form > input[type=submit] {
        width: 300px;
        height: max-content;
        margin-bottom: 20px;
        margin-top: 20px;
        font-size: 1.5em;
    }

    .esqueci{
        width: 300px;
        height: max-content;
        margin-bottom: 20px;
        margin-top: 20px;
        font-size: 1.5em;
    }
}
